h1 {
    color: rgb(169, 0, 221);
    text-shadow: 1px 1px rgb(255, 194, 247);
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-image: url("../images/field.jpg");
    background-size: cover;
    margin: -10px;
    padding: 0;
}

#div1 {
    background-color: rgb(226, 219, 155);
    max-width: 200vw;
    max-height: 200vh
    
}

#div2 {
    max-width: 200vw;
    max-height: 200vh;
    margin: 10px;
}

#div3 {
    background-color: rgb(226, 219, 155);
    max-width: 200vw;
    max-height: 200vh
}


